/* Write your CSS here */
.home-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  background-size: cover;
  min-height: 100vh;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.teams-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: flex-start;
  list-style-type: none;
}
.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.logo-title-container {
  display: flex;
  align-items: center;
  align-self: center;
}

.ipl-logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.home-heading {
  font-size: 30px;
}

@media screen and (max-width: 768px) {
  .home-container {
    width: 100%;
    padding: 0px;
    align-items: flex-start;
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
    justify-content: center;
  }
  .teams-list {
    max-width: 100%;
    justify-content: flex-start;
  }
}
