/* Write your CSS here */

.team-matches-route-container {
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
}
.team-matches-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  color: #ffffff;
  font-family: Bree Arial, Helvetica, sans-serif;
  gap: 10px;
}

.team-banner {
  width: 80%;
}

.recent-matches-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: center;
  width: 70%;
  padding: 0px;
}

.rcb {
  background: linear-gradient(to top, #1e293b, #a4261d);
}

.kkr {
  background: linear-gradient(to top, #1e293b, #5755a7);
}

.kxp {
  background: linear-gradient(to top, #1e293b, #d91c1f);
}

.csk {
  background: linear-gradient(to top, #1e293b, #f7db00);
}

.rr {
  background: linear-gradient(to top, #1e293b, #da237b);
}

.mi {
  background: linear-gradient(to top, #1e293b, #13418b);
}

.sh {
  background: linear-gradient(to top, #1e293b, #f26d22);
}

.dc {
  background: linear-gradient(to top, #1e293b, #4f5db0);
}

@media screen and (max-width: 768px) {
  .team-matches-container {
  }
  .team-banner {
    width: 100%;
  }
  .recent-matches-list {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 30px;
  }
}
.back-button {
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.758);
  color: white;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 7px 10px;
}
